* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  width: 100%;
  min-height: 100%;
}
@media only screen and (min-width: 768px) {
  html, body {
    font-size: 22px;
  }
}

body {
  padding: 20px;
  background-color: #b74ae2;
}

header{
  margin: -1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

section {
  background-color: #f2f2f2;
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 10px;
}

.Button {
  width: 17%;
  min-width: 65px;
  min-height: 48px;
  color: white;
  border: 2px solid rgb(109, 109, 109);
  border-radius: 10px;
  outline: none;
}

.Button:hover {
  cursor: pointer;
}

.Button:hover,
.Button:focus {
  filter: brightness(120%);
  box-shadow: 4px 2px 5px #000;
}

.ItemEntry {
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  padding: 0.75rem;
  background-color: aquamarine;
}
.ItemEntry form {
  display: flex;
  justify-content: space-between;
}
.ItemEntry form label {
  position: absolute;
  left: -10000px;
}
.ItemEntry form input[type=text] {
  width: 80%;
  font-size: 1.25rem;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 0.75rem;
  outline: none;
}
.ItemEntry form input[type=text]:focus,
.ItemEntry form input[type=text]:hover {
  box-shadow: 4px 2px 5px #000;
}
.ItemEntry form button {
  font-size: 2.5rem;
  background-color: #4caf50;
  padding: 0.75rem;
}
@media only screen and (min-width: 768) {
  .ItemEntry form button {
    font-size: 1.5rem;
  }
}

.ItemList {
  min-height: 60vh;
  padding: 0.75rem;
  background-color: aliceblue;
}
.ItemList .ItemListTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.ItemList .ItemListTitle button {
  font-size: 1rem;
  background-color: #c22222;
  padding: 0 0.1rem;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .ItemList .ItemListTitle button {
    padding: 0 0.5rem;
  }
}
.ItemList .ItemListTitle hr {
  width: 100%;
}
.ItemList .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
}
.ItemList .item input[type=checkbox] {
  text-align: center;
  width: 2rem;
  min-width: 48px;
  height: 2.5rem;
  min-height: 48px;
  cursor: pointer;
  margin-right: 1.5rem;
}
.ItemList .item input[type=checkbox]:focus + label {
  text-decoration: underline;
}
.ItemList .item label {
  font-size: 1rem;
}